@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
   display: none;
}

body,
.bg {
   background: #0575e6;
   background: -webkit-linear-gradient(to right, #021b79, #0575e6);
   background: linear-gradient(to right, #021b79, #0575e6);
   color: white;
}

.bgr {
   background: rgba(184, 183, 183, 0.178);
   box-shadow: 0 4px 30px #0000001a;
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
}

.back {
   background-image: url('./../../public/back.webp');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

.hoverAnimate :hover {
   animation: hoverAnimate 0.3s linear 1;
}

@keyframes hoverAnimate {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.05);
   }

   100% {
      transform: scale(1);
   }
}

@layer utilities {
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }
   .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
   }
}
