@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
   display: none;
}

body,
.bg {
   background: #0575e6;
   background: -webkit-linear-gradient(to right, #021b79, #0575e6);
   background: linear-gradient(to right, #021b79, #0575e6);
   color: white;
}

.bgr {
   background: #021b79;
   background: -webkit-linear-gradient(to right, #0575e6, #021b79);
   background: linear-gradient(to right, #0575e6, #021b79);
   color: white;
}

.hoverAnimate :hover {
   animation: hoverAnimate 0.3s linear 1;
}

@keyframes hoverAnimate {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.05);
   }

   100% {
      transform: scale(1);
   }
}

@layer utilities {
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }
   .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
   }
}

.phone {
   box-sizing: border-box;
   box-shadow: 5px 2px 20px #000;
}
