@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
   display: none;
}

body,
.bg {
   background: #0575e6;
   background: -webkit-linear-gradient(to right, #021b79, #0575e6);
   background: linear-gradient(to right, #021b79, #0575e6);
   color: white;
}

.bgr {
   background: #021b79;
   background: -webkit-linear-gradient(to right, #0575e6, #021b79);
   background: linear-gradient(to right, #0575e6, #021b79);
   color: white;
}

.hoverAnimate :hover {
   animation: hoverAnimate 0.3s linear 1;
}

@keyframes hoverAnimate {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.05);
   }

   100% {
      transform: scale(1);
   }
}

@layer utilities {
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }

   .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
   }
}

.phone {
   box-sizing: border-box;
   box-shadow: 5px 2px 20px #000;
}

/*  */
.card-group,
.card {
   position: relative;
}

.card-group,
.big-card {
   width: 30vmin;
   height: 50vmin;
   border-radius: 20px;
}

.card {
   position: absolute;
}

.big-card {
   width: 30vmin;
   border-radius: 1vmin;
}

.little-card {
   width: 12vmin;
   height: 20vmin;
   border-radius: 2vmin;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.big-card:nth-child(2) {
   transform: translateX(-10%) rotate(-1deg);
}

.big-card:nth-child(4) {
   transform: rotate(2deg);
}

.big-card:nth-child(6) {
   transform: translateX(-6%) rotate(-3deg);
}

.big-card:nth-child(8) {
   transform: translateX(10%, 3%) rotate(5deg);
}

.card-group:hover > .big-card:nth-child(2) {
   transform: translate(-75%, 18%) rotate(-24deg);
}

.card-group:hover > .big-card:nth-child(4) {
   transform: translate(-25%, 8%) rotate(-8deg);
}

.card-group:hover > .big-card:nth-child(6) {
   transform: translate(25%, 8%) rotate(8deg);
}

.card-group:hover > .big-card:nth-child(8) {
   transform: translate(75%, 16%) rotate(24deg);
}

.card-group:hover > .little-card:nth-child(1) {
   transform: translate(200%, -160%) rotate(-15deg);
}

.card-group:hover > .little-card:nth-child(3) {
   transform: translate(160%, 170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(5) {
   transform: translate(-200%, -170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(7) {
   transform: translate(-280%, 140%) rotate(-15deg);
}

.gd-one {
   background: #0f2027;
   background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
   background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.gd-two {
   background: #c31432;
   background: -webkit-linear-gradient(to right, #240b36, #c31432);
   background: linear-gradient(to right, #240b36, #c31432);
}

.gd-three {
   background: #0f0c29;
   background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
   background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

@layer styles {
   .circle {
      @apply rounded-full;
   }

   .round {
      @apply rounded-xl;
   }

   .sharp {
      @apply rounded-none border-none;
   }

   .border-sharp {
      @apply border-x-2;
   }
}

@layer components {
   .link-style {
      @apply hoverAnimate flex justify-between items-center sm:w-[90%] lg:w-[60%] w-full bg;
   }

   .link-style a {
      @apply flex p-4 w-full justify-between items-center;
   }

   .link-style img {
      @apply sm:w-12 w-8 sm:h-12 h-8 rounded-full;
   }

   .link-style span {
      @apply sm:text-xl font-bold ml-4;
   }

   .link-style button {
      @apply text-white font-bold py-2 px-4 sm:text-2xl text-xl;
   }
}
