<form class="relative">
   <div
      class="max-w-lg w-full p-3 flex items-center gap-x-2 justify-between bg-white rounded-[64px] border border-primaryBorder focus-within:border-gray-gray5 focus-within:shadow-focus-border transition-all"
   >
      <div class="flex items-center gap-x-2">
         <div></div>
         <div class="flex items-center">
            <span class="lg:text-2xl text-lg">peerlist.io/</span>
            <div class="relative">
               <input
                  label=""
                  required=""
                  placeholder="username"
                  class="w-full outline-none font-normal lg:text-2xl font-mona mona-normal text-lg placeholder:text-gray-gray3 placeholder:font-normal"
                  value=""
               />
            </div>
         </div>
      </div>
      <div>
         <button
            class="border font-medium text-center transition-all ease-in duration-75 disabled:opacity-50 disabled:cursor-not-allowed flex items-center leading-120 select-none rounded-full justify-center text-base h-10 w-10 bg-gray-gray9 text-white border-gray-gray9 hover:bg-gray-gray8"
            type="submit"
            disabled=""
            aria-label="Submit"
         ></button>
      </div>
   </div>
</form>
